.App {
  display: flex;
  flex-direction: row;
}

.tweets-container {
  /* Define dimensions for the scrollable area */
  width: 25%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-y: auto;
  overflow-x: hidden;
}

.metrics-container {
  width: 75%;
  height: 100vh;
  padding-left: 10px;
  padding-right: 10px;

  overflow-y: auto;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
  padding-left: 0;
}
